<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>

  <!--<add name="FabricaContext"
      providerName="System.Data.SqlClient"
      connectionString="Data Source=fabercastellfantasticafabrica.cmeqawh8oqms.sa-east-1.rds.amazonaws.com;Initial Catalog=Group.FaberCastell.FantasticaFabrica_Homologacao;Persist Security Info=True;User ID=thegroup;Password=groupfaber1450!" />-->

  <add name="MotoristasContext"
       providerName="System.Data.SqlClient"
       connectionString="Data Source=wappateste.c8qfvuulakpi.sa-east-1.rds.amazonaws.com;Initial Catalog=wappateste;Persist Security Info=True;User ID=wappa;Password=web2018fc" />


</connectionStrings>