################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Challenge/.vs/Challenge/v15/Server/sqlite3
