version: '3.4'

services:
    banco:        
        container_name: banco
        environment:
              - ASPNETCORE_ENVIRONMENT=Development
              - SA_PASSWORD=wappaDev(!)Senha
              - ACCEPT_EULA=Y
        healthcheck:
              test: ["CMD", "/opt/mssql-tools/bin/sqlcmd", "-Usa", "-PyourStrong(!)Password", "-Q", "select 1"]
              interval: 1s
              retries: 20
        ports:
              - "1435:1433"
        networks:
              - local

    rabbitmq:
        image: rabbitmq:management
        hostname: rabbit-host
        container_name: rabbit
        ports:
              - 5672:5672
              - 15672:15672
        networks:
              - local        

    portainer:
        image: portainer/portainer
        hostname: portainer-host
        container_name: portainer-local
        command: -H unix:///var/run/docker.sock
        restart: always
        ports:
          - 9000:9000
          - 8000:8000
        volumes:
          - /var/run/docker.sock:/var/run/docker.sock
          - portainer_data:/data

    wappa.motoristas.api:
        environment:
          - ASPNETCORE_ENVIRONMENT=Development
          - ASPNETCORE_URLS=https://+:5001;http://+:4001
        ports:
          - "4001:4001"
          - "5001:5001"
        volumes:
          - ${APPDATA}/Microsoft/UserSecrets:/root/.microsoft/usersecrets:ro
          - ${APPDATA}/ASP.NET/Https:/root/.aspnet/https:ro

networks:
    local:
        driver: bridge

volumes:
    portainer_data: