<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" asp-href-include="/lib/fontawesome/css/*.css" />
    <link href="~/css/site.css" rel="stylesheet" />
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js">
    </script>
    <title>Wappa - Taxistas</title>
</head>
<body>
    <div>

        @if (TempData["mensagemSucesso"] != null)
        {
            <div class="alert alert-success mt-1">@TempData["mensagemSucesso"]</div>
        }

        @if (TempData["mensagemErro"] != null)
        {
            <div class="alert alert-danger mt-1">@TempData["mensagemErro"]</div>
        }
        @RenderBody()
    </div>
    @RenderSection("scripts", false)
</body>
</html>
